// Library imports
script(data-main='main.js' src='bower_components/requirejs/require.js')

// Application sources
script(src='config.js')
script(src='modules/calculator/config.js')
script(src='modules/calculator/controller.js')
script(src='modules/layer/config.js')
script(src='modules/layer/services/LayerService.js')
script(src='modules/materials/config.js')
script(src='modules/materials/controller.js')
script(src='modules/materials/services/MaterialsService.js')
script(src='modules/settings/config.js')
script(src='modules/settings/controller.js')
script(src='modules/settings/services/SettingsService.js')
