// Must be preceded by library imports

script(src="modules/_app/config.js")
script(src="modules/calculator/config.js")
script(src="modules/calculator/controller.js")
script(src="modules/layer/config.js")
script(src="modules/layer/factories.js")
script(src="modules/materials/config.js")
script(src="modules/materials/controller.js")
script(src="modules/materials/factories.js")
script(src="modules/settings/config.js")
script(src="modules/settings/controller.js")
script(src="modules/settings/factories.js")
