<div>
    <h1>Shockwave Properties Calculator</h1>
    <p>
        Below is a calculator that dynamically calculates shock properties in various materials from the materials 
        database. We've been experimenting with variations on this for a while, and are constantly striving to make 
        it experiment-ready. Any suggestions for improving accuracy and ease-of-use are greatly appreciated!
    </p>
    <div>
        <h3>Input Fields</h3>
        <div>
            <h4>Materials Selection</h4>
            <ul>
                <li>
                    <label>Flyer Material</label>
                    <select class="mat" ng-model="Flyer.SelectedMaterial"
                        ng-change="Flyer.Reset()"
                        ng-options="mat.Name + ' (' + mat.Density + ')' for mat in materials">
                    </select>
                    <label>Phase</label>
                    <select class="phase" ng-model="Flyer.SelectedPhase"
                        ng-change="CalculateShockProperties()"
                        ng-options="phase.PhaseNumber for phase in Flyer.SelectedMaterial.Phases">
                    </select>
                </li>
                <li>
                    <label>Driver Material</label>
                    <select class="mat" ng-model="Driver.SelectedMaterial"
                        ng-change="Driver.Reset()"
                        ng-options="mat.Name + ' (' + mat.Density + ')' for mat in materials">
                    </select>
                    <label>Phase</label>
                    <select class="phase" ng-model="Driver.SelectedPhase"
                        ng-change="CalculateShockProperties()"
                        ng-options="phase.PhaseNumber for phase in Driver.SelectedMaterial.Phases">
                    </select>
                </li>
                <li>
                    <label>Sample Material</label>
                    <select class="mat" ng-model="Sample.SelectedMaterial"
                        ng-change="Sample.Reset()"
                        ng-options="mat.Name + ' (' + mat.Density + ')' for mat in materials">
                    </select>
                    <label>Phase</label>
                    <select class="phase" ng-model="Sample.SelectedPhase"
                        ng-change="CalculateShockProperties()"
                        ng-options="phase.PhaseNumber for phase in Sample.SelectedMaterial.Phases">
                    </select>
                </li>
                <li>
                    <label>Rear Driver Material</label>
                    <select class="mat" ng-model="RearDriver.SelectedMaterial"
                        ng-change="RearDriver.Reset()"
                        ng-options="mat.Name + ' (' + mat.Density + ')' for mat in materials">
                    </select>
                    <label>Phase</label>
                    <select class="phase" ng-model="RearDriver.SelectedPhase"
                        ng-change="CalculateShockProperties()"
                        ng-options="phase.PhaseNumber for phase in RearDriver.SelectedMaterial.Phases">
                    </select>
                </li>
                <li>
                    <label>Buffer Material</label>
                    <select class="mat" ng-model="Buffer.SelectedMaterial"
                        ng-change="Buffer.Reset()"
                        ng-options="mat.Name + ' (' + mat.Density + ')' for mat in materials">
                    </select>
                    <label>Phase</label>
                    <select class="phase" ng-model="Buffer.SelectedPhase"
                        ng-change="CalculateShockProperties()"
                        ng-options="phase.PhaseNumber for phase in Buffer.SelectedMaterial.Phases">
                    </select>
                </li>
            </ul>
        </div>
        <div>
            <h4>Flyer Properties</h4>
            <ul>
                <li>
                    <label>Flyer Velocity</label>
                    <input type="text" 
                        ng-change="CalculateShockProperties()"
                        ng-model="FlyerVelocity"/>
                    <label>km/s</label>
                </li>
            </ul>
        </div>
        <div>
            <h4>Material Thicknesses</h4>
            <ul>
                <li>
                    <label>Flyer Material Thickness</label>
                    <input type="text" 
                        ng-change="CalculateShockProperties()"
                        ng-model="Flyer.Thickness"/>
                    <label>mm</label>
                </li>
                <li>
                    <label>Driver Material Thickness</label>
                    <input type="text" 
                        ng-change="CalculateShockProperties()"
                        ng-model="Driver.Thickness"/>
                    <label>mm</label>
                </li>
                <li>
                    <label>Sample Material Thickness</label>
                    <input type="text" 
                        ng-change="CalculateShockProperties()"
                        ng-model="Sample.Thickness"/>
                    <label>mm</label>
                </li>
                <li>
                    <label>Rear Driver Material Thickness</label>
                    <input type="text" 
                        ng-change="CalculateShockProperties()"
                        ng-model="RearDriver.Thickness"/>
                    <label>mm</label>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <h3>Shock Properties</h3>
        <div class="resultsContainer">
            <h4>Flyer Properties</h4>
            <ul>
                <li>
                    <label>Flyer-Driver Particle Velocity</label>
                    <label class="output">{{ FlyerDriverParticleVelocity | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Shock Velocity into Flyer</label>
                    <label class="output">{{ Flyer.ShockVelocity | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Shock Pressure into Flyer</label>
                    <label class="output">{{ Flyer.ShockPressure | number:3 }}</label>
                    <label>GPa</label>
                </li>
                <li>
                    <label>Free-Surface Reflection in Flyer</label>
                    <label class="output">{{ Flyer.FreeSurfaceReflection | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Duration in Flyer</label>
                    <label class="output">{{ Flyer.ShockDuration | number:7 }}</label>
                    <label>s</label>
                </li>
            </ul>
        </div>
        <div class="resultsContainer">
            <h4>Driver Properties</h4>
            <ul>
                <li>
                    <label>Driver-Sample Particle Velocity</label>
                    <label class="output">{{ DriverSampleParticleVelocity | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Shock Velocity into Driver</label>
                    <label class="output">{{ Driver.ShockVelocity | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Shock Pressure into Driver</label>
                    <label class="output">{{ Driver.ShockPressure | number:3 }}</label>
                    <label>GPa</label>
                </li>
                <li>
                    <label>Free-Surface Reflection in Driver</label>
                    <label class="output">{{ Driver.FreeSurfaceReflection | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Duration in Driver</label>
                    <label class="output">{{ Driver.ShockDuration | number:7 }}</label>
                    <label>s</label>
                </li>
            </ul>
        </div>
        <div class="resultsContainer">
            <h4>Sample Properties</h4>
            <ul>
                <li>
                    <label>Sample-R.Driver Particle Velocity</label>
                    <label class="output">{{ SampleRearDriverParticleVelocity | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Shock Velocity into Sample</label>
                    <label class="output">{{ Sample.ShockVelocity | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Shock Pressure into Sample</label>
                    <label class="output">{{ Sample.ShockPressure | number:3 }}</label>
                    <label>GPa</label>
                </li>
                <li>
                    <label>Free-Surface Reflection in Sample</label>
                    <label class="output">{{ Sample.FreeSurfaceReflection | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Duration in Sample</label>
                    <label class="output">{{ Sample.ShockDuration | number:7 }}</label>
                    <label>s</label>
                </li>
            </ul>
        </div>
        <div class="resultsContainer">
            <h4>Rear Driver Properties</h4>
            <ul>
                <li>
                    <label>R.Driver Particle Velocity</label>
                    <label class="output">{{ RearDriverBufferParticleVelocity | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Shock Velocity into R.Driver</label>
                    <label class="output">{{ RearDriver.ShockVelocity | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Shock Pressure into R.Driver</label>
                    <label class="output">{{ RearDriver.ShockPressure | number:3 }}</label>
                    <label>GPa</label>
                </li>
                <li>
                    <label>Free-Surface Reflection in R.Driver</label>
                    <label class="output">{{ RearDriver.FreeSurfaceReflection | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Duration in R.Driver</label>
                    <label class="output">{{ RearDriver.ShockDuration | number:7 }}</label>
                    <label>s</label>
                </li>
            </ul>
        </div>
    </div>
</div>
