doctype html
html
	head

		// Application metadata
		include ./meta.jade

		// Application styles
		include ./imports/styles.jade

	body

		// Application content
		include ../app/main.jade

		// Application scripts
		include ./imports/scripts.jade
