doctype html
html
	head

		// Application metadata
		include ./meta.jade

		// Application styles
		include ./imports/styles.jade

	body

		// Application content
		include ./client_app/app.jade

		// Application scripts
		include ./imports/scripts.jade
