meta(charset="utf-8")
title Shockwave Calculator
meta(name="author" content="Nicola B. DiPalma")
meta(name="description" content="Shockwave Experiment Calculator")
meta(name="viewport" content="width=device-width")
