<div>
    <h1>Database of Shockwave Properties for Various Materials</h1>
    <p>
        You can view shock properties for various materials below. We'll make this searchable at some point. For now, use the list box 
        to select the material for which you want to view shockwave data. All data is excerpted from tables created by Thomas Ahrens, PhD.
        Table names and links are listed below.
    </p>
    <div>
        <h3>Available Materials</h3>
        <select class="mat" ng-model="SelectedMaterial"
            ng-options="mat.Name + ' (' + mat.Density + ')' for mat in materials">

        </select>
    </div>
    <div>
        <ul>
            <li>
                <label><b>Name:</b> {{SelectedMaterial.Name}}</label>
            <li>
                <label><b>Formula:</b> {{SelectedMaterial.Formula}}</label>
            </li>
            <li>
                <label><b>Density:</b> {{SelectedMaterial.Density}} Mg/m³</label>
            </li>
            <li>
                <label><b>Special Measurement Conditions:</b> {{GetMeasurementCondition(SelectedMaterial.SpecialMeasurementIdentifier)}}</label>
            </li>
            <li>
                <label><b>Internal References:</b> {{SelectedMaterial.References}}</label>
            </li>
            <li>
                <label><b>Remarks:</b> {{SelectedMaterial.Remarks}}</label>
            </li>
        </ul>
    </div>
    <div>
        <h4>Phases List:</h4>
        <table>
            <thead>
                <tr>
                    <th>Phase Number</th>
                    <th>Phase Type</th>
                    <th>C₀</th>
                    <th>Δ C₀ (error)</th>
                    <th>S</th>
                    <th>ΔS (error)</th>
                    <th>U (lower)</th>
                    <th>U (upper)</th>
                    <th>No. of Data</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="phase in SelectedMaterial.Phases">
                    <td>{{phase.PhaseNumber}}</td>
                    <td>{{GetPhaseType(phase.PhaseNumber)}}</td>
                    <td>{{phase.IsentropicBulkSoundSpeed}}</td>
                    <td>{{phase.IsentropicBulkSoundSpeedError}}</td>
                    <td>{{phase.DimensionlessSparameter}}</td>
                    <td>{{phase.DimensionlessSparameterError}}</td>
                    <td>{{phase.ShockVelocityLower}}</td>
                    <td>{{phase.ShockVelocityUpper}}</td>
                    <td>{{phase.NumberOfData}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h1>References List</h1>
        <p>
            This software takes in user data from high pressure and temperature shockwave 
            experiments and calculates shock properties based on modeling implemented by 
            Thomas J. Ahrens in his paper:
        </p>
        <p><b>Shock Wave Techniques for Geophysics and Planetary Physics</b></p>
        <p>Thomas J. Ahrens</p>
        <p>Seismological Laboratory - California Institute of Technology - Pasadena California 91125</p>
        <p>Published in 'Methods of Experimental Physics' - Vol 24, Part A, Page 185.</p>
        <p>Copyright 1987 by Academic Press, Inc.</p>
        <p>
            Full text can be viewed at: 
            <a href="http://www.fas.harvard.edu/~planets/sstewart/ahrens/index.html" target="_blank">http://www.fas.harvard.edu/~planets/sstewart/ahrens/index.html</a> 
            (Item#: 179 - Parts <a href="http://www.fas.harvard.edu/~planets/sstewart/ahrens/Papers_pdf/Seismo_1396p1.pdf" target="_blank">1</a> 
            and <a href="http://www.fas.harvard.edu/~planets/sstewart/ahrens/Papers_pdf/Seismo_1396p2.pdf" target="_blank">2</a>)
        </p>
        <p>All data for default materials was taken from the table:</p>
        <p><b>Shock Wave Data For Minerals</b></p>
        <p>Thomas J. Ahrens, Mary L. Johnson</p>
        <p>Seismological Laboratory - California Institute of Technology - Pasadena California 91125</p>
        <p>Published in Mineral Physics &amp; Crystallography: A Handbook of Physical Constants - Pages 144-171</p>
        <p><b>Shock Experiment Calculator - WebApp</b></p>
        <p>Version 0.8.1</p>
        <p>Authored by: Nicola B. DiPalma &amp; Oliver Tschauner PhD.</p>
        <p>Release for use under the <a href="http://www.gnu.org/licenses/gpl.html" target="_blank">GNU General Public License</a></p>
        <p>May 31st, 2014</p>
    </div>
</div>
