.content {
    border-color:black;
    border-style:ridge;
    border-width:2px;
    box-shadow: 0px 0px 30px #888888;
    margin-bottom:60px;
    margin-left:auto;
    margin-right:auto;
    margin-top:110px;
    padding:10px;
    width:80%;
}

.footer {
    background:#CC0000;
    bottom:0px;
    height:50px;
    left:0px;
    position:fixed;
    right:0px; 
}

.footer p {
    color:white;
    font-size:15px;
    margin-top:20px;
    text-shadow: 1px 1px 2px black;
    text-align:center;
}

#footerBackground {
    background-image: -webkit-linear-gradient(bottom, #FF0000, #CC0000); 
    background-image:    -moz-linear-gradient(bottom, #FF0000, #CC0000); 
    background-image:     -ms-linear-gradient(bottom, #FF0000, #CC0000); 
    background-image:      -o-linear-gradient(bottom, #FF0000, #CC0000); 
    background-image:         linear-gradient(bottom, #FF0000, #CC0000);
    box-shadow: 0px -5px 5px #888888;
    opacity:1.0;
}

.header {
    background:#CC0000;
    height:100px;
    left:0px;
    position:fixed;
    right:0px;
    top:0px;
}

.header label {
    color:white;
    float:left;
    font-size:30px;
    padding:25px;
    text-shadow: 1px 1px 2px black;
}

#headerBackground {
    background-image: -webkit-linear-gradient(top, #FF0000, #CC0000); 
    background-image:    -moz-linear-gradient(top, #FF0000, #CC0000); 
    background-image:     -ms-linear-gradient(top, #FF0000, #CC0000); 
    background-image:      -o-linear-gradient(top, #FF0000, #CC0000); 
    background-image:         linear-gradient(top, #FF0000, #CC0000);
    box-shadow: 0px 5px 5px #888888;
    opacity:1.0;
}
