<div>
    <div>
        <h3>General Settings</h3>
        <ul>
            <li>
                <label>Optical Diode Separation</label>
                <input type="text" 
                    data-ng-change="SaveSettings()"
                    data-ng-model="OpticsSeparation"/>
                <label>mm</label>
            </li>
            <li>
                <label>Particle Velocity Tolerance ±</label>
                <input type="text" 
                    data-ng-change="SaveSettings()"
                    data-ng-model="Tolerance"/>
                <label>m/s</label>
            </li>
        </ul>
    </div>
</div>
