<div>
    <h1>Shockwave Properties Calculator</h1>
    <p>
        Below is a calculator that dynamically calculates shock properties in various materials from the materials 
        database. We've been experimenting with variations on this for a while, and are constantly striving to make 
        it experiment-ready. Any suggestions for improving accuracy and ease-of-use are greatly appreciated!
    </p>
    <div>
        <h3>Input Fields</h3>
        <div>
            <h4>Materials Selection</h4>
            <ul>
                <li>
                    <label>Flyer Material</label>
                    <select class="mat" ng-model="SelectedFlyerMaterial"
                        ng-change="ResetFlyer()"
                        ng-options="mat.Name + ' (' + mat.Density + ')' for mat in materials">
                    </select>
                    <label>Phase</label>
                    <select class="phase" ng-model="SelectedFlyerPhase"
                        ng-change="CalculateShockProperties()"
                        ng-options="phase.PhaseNumber for phase in SelectedFlyerMaterial.Phases">
                    </select>
                </li>
                <li>
                    <label>Driver Material</label>
                    <select class="mat" ng-model="SelectedDriverMaterial"
                        ng-change="ResetDriver()"
                        ng-options="mat.Name + ' (' + mat.Density + ')' for mat in materials">
                    </select>
                    <label>Phase</label>
                    <select class="phase" ng-model="SelectedDriverPhase"
                        ng-change="CalculateShockProperties()"
                        ng-options="phase.PhaseNumber for phase in SelectedDriverMaterial.Phases">
                    </select>
                </li>
                <li>
                    <label>Sample Material</label>
                    <select class="mat" ng-model="SelectedSampleMaterial"
                        ng-change="ResetSample()"
                        ng-options="mat.Name + ' (' + mat.Density + ')' for mat in materials">
                    </select>
                    <label>Phase</label>
                    <select class="phase" ng-model="SelectedSamplePhase"
                        ng-change="CalculateShockProperties()"
                        ng-options="phase.PhaseNumber for phase in SelectedSampleMaterial.Phases">
                    </select>
                </li>
                <li>
                    <label>Rear Driver Material</label>
                    <select class="mat" ng-model="SelectedRearDriverMaterial"
                        ng-change="ResetRearDriver()"
                        ng-options="mat.Name + ' (' + mat.Density + ')' for mat in materials">
                    </select>
                    <label>Phase</label>
                    <select class="phase" ng-model="SelectedRearDriverPhase"
                        ng-change="CalculateShockProperties()"
                        ng-options="phase.PhaseNumber for phase in SelectedRearDriverMaterial.Phases">
                    </select>
                </li>
                <li>
                    <label>Buffer Material</label>
                    <select class="mat" ng-model="SelectedBufferMaterial"
                        ng-change="ResetBuffer()"
                        ng-options="mat.Name + ' (' + mat.Density + ')' for mat in materials">
                    </select>
                    <label>Phase</label>
                    <select class="phase" ng-model="SelectedBufferPhase"
                        ng-change="CalculateShockProperties()"
                        ng-options="phase.PhaseNumber for phase in SelectedBufferMaterial.Phases">
                    </select>
                </li>
            </ul>
        </div>
        <div>
            <h4>Flyer Properties</h4>
            <ul>
                <li>
                    <label>Flyer Velocity</label>
                    <input type="text" 
                        ng-change="CalculateShockProperties()"
                        ng-model="FlyerVelocity"/>
                    <label>km/s</label>
                </li>
            </ul>
        </div>
        <div>
            <h4>Material Thicknesses</h4>
            <ul>
                <li>
                    <label>Flyer Material Thickness</label>
                    <input type="text" 
                        ng-change="CalculateShockProperties()"
                        ng-model="FlyerThickness"/>
                    <label>mm</label>
                </li>
                <li>
                    <label>Driver Material Thickness</label>
                    <input type="text" 
                        ng-change="CalculateShockProperties()"
                        ng-model="DriverThickness"/>
                    <label>mm</label>
                </li>
                <li>
                    <label>Sample Material Thickness</label>
                    <input type="text" 
                        ng-change="CalculateShockProperties()"
                        ng-model="SampleThickness"/>
                    <label>mm</label>
                </li>
                <li>
                    <label>Rear Driver Material Thickness</label>
                    <input type="text" 
                        ng-change="CalculateShockProperties()"
                        ng-model="RearDriverThickness"/>
                    <label>mm</label>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <h3>Shock Properties</h3>
        <div class="resultsContainer">
            <h4>Flyer Properties</h4>
            <ul>
                <li>
                    <label>Flyer-Driver Particle Velocity</label>
                    <label class="output">{{ FlyerDriverParticleVelocity | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Shock Velocity into Flyer</label>
                    <label class="output">{{ ShockVelocityInFlyer | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Shock Pressure into Flyer</label>
                    <label class="output">{{ ShockPressureInFlyer | number:3 }}</label>
                    <label>GPa</label>
                </li>
                <li>
                    <label>Free-Surface Reflection in Flyer</label>
                    <label class="output">{{ FreeSurfaceReflectionInFlyer | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Duration in Flyer</label>
                    <label class="output">{{ ShockDurationInFlyer | number:7 }}</label>
                    <label>s</label>
                </li>
            </ul>
        </div>
        <div class="resultsContainer">
            <h4>Driver Properties</h4>
            <ul>
                <li>
                    <label>Driver-Sample Particle Velocity</label>
                    <label class="output">{{ DriverSampleParticleVelocity | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Shock Velocity into Driver</label>
                    <label class="output">{{ ShockVelocityInDriver | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Shock Pressure into Driver</label>
                    <label class="output">{{ ShockPressureInDriver | number:3 }}</label>
                    <label>GPa</label>
                </li>
                <li>
                    <label>Free-Surface Reflection in Driver</label>
                    <label class="output">{{ FreeSurfaceReflectionInDriver | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Duration in Driver</label>
                    <label class="output">{{ ShockDurationInDriver | number:7 }}</label>
                    <label>s</label>
                </li>
            </ul>
        </div>
        <div class="resultsContainer">
            <h4>Sample Properties</h4>
            <ul>
                <li>
                    <label>Sample-R.Driver Particle Velocity</label>
                    <label class="output">{{ SampleRearDriverParticleVelocity | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Shock Velocity into Sample</label>
                    <label class="output">{{ ShockVelocityInSample | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Shock Pressure into Sample</label>
                    <label class="output">{{ ShockPressureInSample | number:3 }}</label>
                    <label>GPa</label>
                </li>
                <li>
                    <label>Free-Surface Reflection in Sample</label>
                    <label class="output">{{ FreeSurfaceReflectionInSample | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Duration in Sample</label>
                    <label class="output">{{ ShockDurationInSample | number:7 }}</label>
                    <label>s</label>
                </li>
            </ul>
        </div>
        <div class="resultsContainer">
            <h4>Rear Driver Properties</h4>
            <ul>
                <li>
                    <label>R.Driver Particle Velocity</label>
                    <label class="output">{{ RearDriverBufferParticleVelocity | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Shock Velocity into R.Driver</label>
                    <label class="output">{{ ShockVelocityInRearDriver | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Shock Pressure into R.Driver</label>
                    <label class="output">{{ ShockPressureInRearDriver | number:3 }}</label>
                    <label>GPa</label>
                </li>
                <li>
                    <label>Free-Surface Reflection in R.Driver</label>
                    <label class="output">{{ FreeSurfaceReflectionInRearDriver | number:3 }}</label>
                    <label>km/s</label>
                </li>
                <li>
                    <label>Duration in R.Driver</label>
                    <label class="output">{{ ShockDurationInRearDriver | number:7 }}</label>
                    <label>s</label>
                </li>
            </ul>
        </div>
    </div>
</div>
